
<!-- Footer -->
<footer class="footer mt-3 font-small text-light bg-dark pt-4">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">

		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-6 mt-md-0 mt-3">

				<!-- Content -->
				<h5 class="text-uppercase">Fandaharana</h5>
				<p>Fampirantiana sy fivoriana alohan'ny fanompoana ary fivoriana.</p>

			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none pb-3">

			<!-- Grid column -->
			<div class="col-md-3 mb-md-0 mb-3">

				<!-- Links -->
				<h5 class="text-uppercase">Fifanekena</h5>

				<ul class="list-unstyled">
					<li>
						<a href="{% url 'privacy' %}" class="mlink">
							Fifanekena momba ny tsiambaratelo
						</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-3 mb-md-0 mb-3">

				<!-- Links -->
				<h5 class="text-uppercase">Ekipa</h5>

				<ul class="list-unstyled">
					<li>
						<a href="https://github.com/Unviray/fandaharana" class="mlink">
							<i class="fab fa-github"></i> Github
						</a>
					</li>
					<li>
						<a href="#!" class="mlink">
							<i class="fab fa-facebook"></i> Facebook
						</a>
					</li>
					<li>
						<a href="#!" class="mlink">
							<i class="fab fa-twitter"></i> Twitter
						</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright emphase text-center py-3">
		© 2019 Copyright: UJW DEV TEAM
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->


