<div class="card">
	<div class="card-body">
		<h3 class="card-title mb-4">Fandaharana</h3>
		<table class="table d-none d-sm-table">
			<thead class="thead-light">
				<tr>
					<th scope="col">Daty</th>
					<th scope="col">Ora</th>
					<th scope="col">Toerana</th>
					<th scope="col">Mpandray anjara</th>
				</tr>
			</thead>
			<tbody>
				{% for pub in publics %}
				<tr>
					<th scope="row">{{ pub.date|date:"l j" }}</th>
					<td>{{ pub.hour_1|date:"H" }}H - {{ pub.hour_2|date:"H" }}H</td>
					<td>{{ pub.place }}</td>
					<td>{{ pub.person_1 }} - {{ pub.person_2}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="card-deck">
			{% for pub in publics %}
			<div class="card bg-light d-sm-none shadow-sm">
				<div class="row no-gutters">
					<div class="col-xs">
						<div class="card-body mx-0">
							<h5 class="card-title">{{ pub.date|date:"l j" }}</h5>
							<h6 class="card-subtitle text-muted">
								{{ pub.hour_1|date:"H" }}H - {{ pub.hour_2|date:"H" }}H
							</h6>
						</div>
					</div>                                                                                                      <div class="col-xs">
						<div class="card-body mx-0">                                                                                        <ul class="list-group">
								<li class="list-group-item">
									<strong>Toerana: </strong>{{ pub.place }}
								</li>                                                                                                       <li class="list-group-item">
									<strong>Mpandray anjara: </strong>{{ pub.person_1 }} - {{ pub.person_2 }}
								</li>                                                                                               </ul>
						</div>
					</div>                                                                                              </div>
			</div>                                                                                                      {% endfor %}
		</div>
	</div>
</div>
